{% extends "_base.html" %}
{% load static %}

{% block style %}
<style>
  li {
    margin-bottom: 15px;
  }
  a {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 3px;
  }
  a:hover {
    background-color: black;
    color: white;
  }
</style>
{% endblock %}

{% block name %}
List
{% endblock %}

{% block content %}
<h1>Universities</h1>
<div class="filter">
  <h3>Sort By</h3>
  <form method="get" action="{% url 'university_list' %}">

    <label for="name">Name: </label>
    <input type="text" name="name" id="name">

    <label for="country">Country: </label>
    <select name="country" id="country">
      <option value="">----</option>
      {% for country in countries %}
      <option value="{{ country.name }}">{{ country.name }}</option>
      {% endfor %}
    </select>

    <label for="city">City: </label>
    <select name="city" id="city">
      <option value="">----</option>
      {% for city in cities %}
      <option value="{{ city.name }}">{{ city.name }}</option>
      {% endfor %}
    </select>

    <button type="submit">Apply</button>
  </form>
</div>

<div class="university-list">
  <h3>University List</h3>
  <ul>
    {% for university in universities %}
    <li>
      {{ university.name }}
      <a href="{% url 'university_detail' university.id %}">More details</a>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="paginator">
  {% if universities.has_next %}
  <a href="?page={{ universities.next_page_number }}">Next</a>
  {% endif %}
  <span>
    Page {{ universities.number }} of {{ universities.paginator.num_pages }}
  </span>
  {% if universities.has_previous %}
  <a href="?page={{ universities.previous_page_number }}">Previous</a>
  {% endif %}
</div>
{% endblock %}