{% extends "_base.html" %}
{% load static %}

{% block style %}
<style>
  li {
    margin-bottom: 15px;
  }
  a {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 3px;
  }
  a:hover {
    background-color: black;
    color: white;
  }
</style>
{% endblock %}

{% block name %}
List
{% endblock %}

{% block content %}
<h1>Universities</h1>
<div class="filter">
  <h3>Sort By</h3>
  <form method="get">
    {{ filter.form.as_p }}
    <input type="submit">
  </form>
</div>

<div class="university-list">
  <h3>University List</h3>
  <ul>
    {% for university in filter.qs %}
    <li>
      {{ university.name }}
      <a href="{% url 'university_detail' university.id %}">More details</a>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="paginator">
  {% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}">Next</a>
  {% endif %}
  <span>
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
  </span>
  {% if page_obj.has_previous %}
  <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
</div>
{% endif %}
{% endblock %}